@use './theme.scss';

html,
body {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Vazirmatn, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Vazirmatn,
    Courier New, monospace;
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
  --font-title: Outfit, Noto Sans JP, Noto Sans, Vazirmatn, sans-serif;

  font-family: var(--default-font-family);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    font-family: var(--font-title);
  }

  h1 {
    font-size: var(--text-5xl);
  }
  h2 {
    font-size: var(--text-4xl);
  }

  #app {
    height: 100vh;
  }
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.v-chip {
  &.method {
    text-align: center;
    min-width: 64px;

    .v-chip__content {
      display: inline;
      width: 100%;
      text-align: center;
    }
  }
}

.submenu-toggle {
  transition: all 0.25s ease-in-out;
  &.dark {
    &:hover {
      background-color: #404040;
    }
  }
  &:hover {
    background-color: #eaeaea;
  }
}

.absolute {
  position: absolute;
}

.h-full {
  height: 100%;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.t-0 {
  top: 0;
}

.b-0 {
  bottom: 0;
}

.valign-middle {
  vertical-align: middle;
}

.v-theme--light {
  .icon-hover-shadow {
    filter: none;
    transition: all 0.14s ease-in-out;
    &:hover {
      filter: drop-shadow(1px 2px 2px #828282);
      color: #333;
    }
  }
}

.v-theme--dark {
  .icon-hover-shadow {
    filter: none;
    transition: all 0.14s ease-in-out;
    &:hover {
      filter: drop-shadow(1px 2px 2px #eeeeee);
    }
  }
}

.h-max-360px {
  max-height: 360px;
}
