.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.v-chip {
  &.method {
    text-align: center;
    min-width: 64px;

    .v-chip__content {
      display: inline;
      width: 100%;
      text-align: center;
    }
  }
}